@import "../var.css";
.ciritcs__container {
  background-color: var(--color-secondary);
  padding: 2rem;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
}
.form__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  align-items: center;
  margin-bottom: 2rem;
}

.form__btns {
  display: flex;
  gap: 2rem;
}
:root {
  --margin-line: #941c5a;
  --lines: #1d97b8;
}

.paper {
  width: 100%;
  height: 500px;
  background-color: #fff;
  background-image: linear-gradient(var(--lines) 0.05em, transparent 0.05em);
  background-size: 100% 2rem;
  position: relative;
  box-shadow: 15px 15px 33px rgba(27, 27, 27, 0.1);
}
.paper::before,
.paper::after {
  content: "";
  position: absolute;
  top: 0;
}

.paper::before {
  height: 100%;
  width: 2px;
  background-color: var(--margin-line);
  right: 4em;
  z-index: 2;
}

.paper::after {
  height: 6em;
  width: 100%;
  background-color: #fff;
  right: 0;
  z-index: 1;
}

.holes {
  background-color: #eee;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  z-index: 10;
  margin-left: 1em;
  margin-top: 6em;
}
.hole__contianer {
  display: flex;
  position: absolute;
  justify-content: space-around;
  height: 100%;
  right: 1.02rem;
}
.holes::before,
.holes::after {
  content: "";
  width: 35px;
  height: 35px;
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
}

.holes::before {
  top: 50%;
}

.holes::after {
  top: calc(100% - 6em);
}
textarea {
  position: absolute;
  top: 6.39rem;
  right: 4rem;
  width: calc(100% - 5rem);
  height: calc(100% - 7rem);
  background-color: transparent;
  border: none;
  font-size: 24px;
  line-height: 1;
  padding-left: 1rem;
  margin: 0;
  resize: none;
  margin-right: 1rem;
  direction: rtl;
}

textarea:active,
textarea:focus {
  border: none;
  outline: none;
}

.form__btn {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  height: 45px;
  width: 250px;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
}
.form__btn:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
.panel__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  z-index: 20000;
}
.panel__container {
  width: 80%;
  height: 65%;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--color-secondary);
  position: relative;
}
.close__btn {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}
.close__btn::after {
  display: inline-block;
  content: "";
  width: 2px;
  height: 25px;
  background-color: rgb(122, 122, 122);
  transform: rotate(40deg) translate(-1px, 1px);
}
.close__btn::before {
  display: inline-block;
  content: "";
  width: 2px;
  height: 25px;
  background-color: rgb(122, 122, 122);
  transform: rotate(-40deg);
}
.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (min-width: 1048px) {
  .form__container {
    padding: 4rem;
    gap: 4rem;
  }
  .paper {
    max-width: 800px;
  }
}
