.audio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.audio__title {
  font-size: 1.2em;
  text-align: center;
}
.audio__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}
.audio__controls div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
